.App {
  text-align: center;
}


.App-link {
  color: hsl(109, 95%, 68%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #6646b8;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #7ef4b5;
}
